<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Abarrotes Ramírez</title>

    {{>scripts}}

    </head>
    <body>
        <!-- Navegacion-->
        {{>navbar}}

        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4 text-warning">Abarrotes Ramírez</h1>
                <p class="lead">¡Mejor precios imposible!</p>
                <hr class="my-4">
            </div>
        </div>        
    {{{body}}}

            <!-- Footer o pie de pagina-->

    </body>
</html>
